<h1>translation</h1>


<form ng-submit="trans.addTranscript()" id="newTranscript">
  <div>
    <label for="newTranscript-title">Name:</label>
    <input type="text" id="newTranscript-title" ng-model="trans.newTranscript.title" placeholder="Title">
  </div>
<!--   <div>
    <label for="newTranscript-transcript">Location:</label>
    <input type="text" id="newTranscript-transcript" ng-model="trans.newTranscript.transcript" placeholder="Transcript">
  </div> -->
  <div>
    <label for="newTranscript-date">Date:</label>
    <input type="text" id="newTranscript-date" ng-model="trans.newTranscript.date" placeholder="Date">
  </div>
  
    <input type="submit" value="Add Translation">
  </div>
</form>